
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

.header {
    height: 35vh;
    display: flex;
    flex-direction:column;
}

.header__top {
    width: 100%;
    justify-self: start;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 25px;
    font-weight: bold;
}
.header__top--btn {
    border-radius: 0;
    font-size: inherit;
    padding: 15px 50px;
    font-family: inherit;
    font-weight : inherit;
}
.header__top--between {
    font-size: inherit;
}

.header__guess {
    align-self: center;
    display: flex;
    height: 100%;
 }

 .header__guess .header__guess--title {
     align-self: center;
     font-size: 65px;
     text-transform: capitalize;
 }


 .result {
     position: relative;
 }


 main {
     display: flex;
     flex-direction: column; 
     height: 65vh;
 }

 .result__value {
     position: absolute;
     font-size: 45px;
     top: 50%;
     left : 50%;
     transform: translate(-50%, -50%);
     padding: 30px 40px;
     background-color: aliceblue;
     color: #222;
 }


 .playing {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100%; 
 }
 .playing__form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .playing__form .playing__form--input {
    font-family: inherit;
     height: 120px;
     width: 250px;
     background-color: transparent;
     border: 5px solid aliceblue;
     margin: 20px;
     color: aliceblue;
     font-size: 70px;
     text-align: center;
 }

 .playing__form .playing__form--btn-check {
    font-family: inherit;
    width: 220px;
    height: 70px;
    margin: 20px;
    font-size: 35px;
 }


 .playing__checker {
     display: flex; 
     height: 40%;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly; 
     font-size: 30px;
 }
 